<!DOCTYPE html>
<html>
  <head>
    <title>Metapoints</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js" type="text/javascript"></script>
    <script src="metapoints.js" type="text/javascript"></script>
    <script src="factories.js" type="text/javascript"></script>
    <script src="notifications.js" type="text/javascript"></script>
    <script src="updateFeed.js" type="text/javascript"></script>
    <script src="error.js" type="text/javascript"></script>
    <script src="spending.js" type="text/javascript"></script>
  </head>
  <body ng-app="metapoints">
    <div class="metapoints">
      <div ng-controller="notifications">
        <button id="enable_notify" class="regular-btn" ng-click="enableNotifications()" ng-if="!notificationsEnabled">Enable Notifications</button>
      </div>
      <h1>Metapoints</h1>
      <div class="wrapper">
        <div ng-controller="metapoints">
          <table>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Metapoints</th>
              <th>Power Level</th>
              <th ng-show="remainingTimeout > 0">{{remainingTimeout}}</th>
              <th ng-show="remainingTimeout <= 0">&nbsp;</th>
              <th>Last Updated By</th>
            </tr>
            <tr ng-repeat="p in pointsData | orderBy:'metapoints':true">
              <td class="align-right">{{$index + 1}}</td>
              <td class="{{p.active > 0 ? 'active' : ''}}">{{p.name}}</td>
              <td class="align-right">{{p.metapoints}}</td>
              <td><span class="power-level" ng-if="p.powerLevel > 0" ng-repeat="level in getPowerArray(p.powerLevel)">{{level}}</span></td>
              <td class="{{timedOut ? 'grayed-out' : ''}}">
                <button class="action-btn" ng-click="changeMetapoints(p.name, true)" ng-disabled="timedOut">+</button>
                <button class="action-btn" ng-click="changeMetapoints(p.name, false)" ng-disabled="timedOut">-</button>
              </td>
              <td>{{p.lastUpdatedBy}}</td>
            </tr>
          </table>
          <div class="point-sizes">
            <span class="caption">Point Magnitude</span>
            <label ng-repeat="size in pointSizes | orderBy:'value'" class="size-option">
              {{size.value}}
              <input type="radio" ng-model="$parent.selectedPointSize" ng-value="size.name" name="pointSize">
            </label>
          </div>
        </div>
        <div class="spend" ng-controller="spending">
          Spend 1000 Metapoints: <button class="regular-btn" ng-click="upgradePowerLevel()">Upgrade Power Level</button>
        </div>
        <div ng-controller="error">
          <p class="error" ng-if="!!errorMsg">{{errorMsg}}</p>
        </div>
        <div class="update-feed" ng-controller="updateFeed">
          <ul>
            <li ng-repeat="change in updateFeed track by $index">{{change.time}} - <b>{{change.changer}}</b> {{change.desc}} <b>{{change.name}}</b>'s metapoints by {{change.amount}}</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
