html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  height: 100%;
  background-color: lightblue;
  padding: 0;
  margin: 0;
}

.content {
  width: 750px;
  margin: 0 auto;
  padding: 0 30px;
}

table {
  border-collapse: collapse;
  background-color: white;
  width: 100%;
}

td, th {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: lightgray;
}

h1 {
  width: 50%;
  margin: 0;
  margin-bottom: 20px;
}

.register .submit {
  padding: 5px;
  border-radius: 5px;
}

.regular-btn {
  border-radius: 5px;
  padding: 5px;
}

#enable_notify {
  margin-top: 10px;
  float: right;
}

.action-btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.align-right {
  text-align: right;
}

.grayed-out {
  background-color: lightgray;
}

.active {
  background-color: lightgreen;
}

.power-bar {
  height: 5px;
  background-color: green;
  display: block;
}

.error {
  color: red;
}

.point-changes {
  margin: 20px 0;
  width: 100%;
  overflow: hidden;
}

.point-changes .group {
  float: left;
  margin-right: 20px;
}

.transactions {
  float: left;
  border-right: 1px dotted gray;
  height: 100%;
  padding: 5px 10px;
  margin: 0;
}

.transactions .group {
  margin-bottom: 20px;
}

.transactions h2 {
  margin: 0 0 20px 0;
}

.transactions .collapse-toggle {
  float: right;
  font-size: 30px;
  line-height: 25px;
}
