html {
  height: 100%;
}

body {
  font-family: "Segoe UI", sans-serif;
  height: 100%;
  background-color: lightblue;
}

table {
  border-collapse: collapse;
  background-color: white;
}

td, th {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: lightgray;
}

.register, .metapoints {
  width: 500px;
  margin: 0 auto;
  padding: 0 30px;
}

.register .submit {
  padding: 5px;
  border-radius: 5px;
}

.regular-btn {
  border-radius: 5px;
  padding: 5px;
}

#enable_notify {
  margin-top: 10px;
}

.action-btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.align-right {
  text-align: right;
}

.point-sizes {
  overflow: hidden;
}

.point-sizes .size-option {
  float: left;
  margin-left: 15px;
}

.point-sizes .caption {
  float: left;
}
