html {
  height: 95%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  height: 100%;
  background-color: lightblue;
  padding: 0;
  margin: 0;
  min-width: 1250px;
  min-height: 600px;
}

.content {
  width: 650px;
  padding: 0 30px;
  float: left;
}

table {
  border-collapse: collapse;
  background-color: white;
  width: 100%;
}

td, th {
  border: 1px solid black;
  padding: 10px;
}

td.person-name {
  padding: 0;
  height: 50px;
}

th {
  background-color: lightgray;
}

h1 {
  width: 50%;
  margin: 0;
  margin-bottom: 20px;
}

.register .submit {
  padding: 5px;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  padding: 5px;
}

#enable_notify {
  margin-top: 10px;
  float: right;
}

.action-btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.align-right {
  text-align: right;
}

.grayed-out {
  background-color: lightgray;
}

.active {
  background-color: lightgreen;
}

.power-bar {
  height: 5px;
  background-color: green;
  display: block;
}

.alert.error {
  color: red;
}

.alert.info {
  color: blue;
}

.point-changes {
  margin: 20px 0;
  width: 100%;
  overflow: hidden;
}

.point-changes .group {
  float: left;
  margin-right: 20px;
}

.transactions {
  float: left;
  border-right: 1px solid dodgerblue;
  border-bottom: 1px solid dodgerblue;
  height: 100%;
  padding: 0px 10px;
  margin: 0;
  background-color: skyblue;
}

.transactions .group {
  margin-bottom: 20px;
}

.transactions h2 {
  margin: 0 0 20px 0;
}

.chat h2 {
  margin: 0 20px 0 0;
  text-align: right;
}

.transactions .collapse-toggle {
  float: right;
  font-size: 30px;
  line-height: 25px;
}

.separate-group {
  width: 100%;
  clear: both;
}

.separate-group.small {
  padding-top: 5px;
}

.separate-group.large {
  padding-top: 20px;
}

.chat {
  position: relative;
  float: right;
  height: 100%;
  width: 300px;
  border-left: 1px solid dodgerblue;
  background-color: skyblue;
}

.chat .message-input {
  position: absolute;
  width: 295px;
  bottom: 0;
  left: 0;
  padding-left: 5px;
  border-top: 1px solid dodgerblue;
  border-bottom: 1px solid dodgerblue;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 5%;
  min-height: 35px;
}

.chat .messages {
  height: 87%;
  word-wrap: break-word;
  overflow-y: auto;
}

.chat .messages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat .messages li {
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 5px;
  border-bottom: 1px dotted dodgerblue;
}

#chat_input {
  width: 75%;
  height: 25px;
  font-size: 16px;
}

#chat_button {
  width: 15%;
  margin-left: 10px;
}

.timeout {
  margin-left: 10px;
}

select {
  width: 100px;
}

.change.increased {
  color: green;
}

.change.decreased {
  color: red;
}

.muted {
  font-size: 10px;
  color: gray;
}

.muted-timestamp {
  font-size: 12px;
  color: gray;
  margin-right: 5px;
  font-family: monospace;
  width: 10%;
  float: left;
  line-height: 27px;
}

#shortcuts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#shortcuts li {
  display: inline;
  padding-right: 10px;
  white-space: nowrap;
}

.update-feed ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.update-feed li {
  margin: 0;
  padding: 0;
  clear: both;
}

.update-item {
  width: 85%;
  float: left;
}

.decor {
  height: 100%;
  padding: 5px;
  border-width: 5px;
  border-color: transparent;
  border-style: solid;
}

.clickable {
  cursor: pointer;
}

.tabs {
  width: 100%;
  overflow: hidden;
}

.tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tabs li {
  font-size: 12px;
  display: block;
  float: left;
  border-top: 1px solid dodgerblue;
  border-left: 1px solid dodgerblue;
  border-right: 1px solid dodgerblue;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 1px;
}

.tabs li a {
  text-decoration: none;
  color: gray;
}

.graphs {
  background-color: white;
  overflow: hidden;
  border: 1px solid black;
  padding: 5px;
}

.graphs .person-graph {
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}

.person-graph .name {
  width: 20%;
  float: left;
  margin-right: 5px;
}

.person-graph .bars {
  width: 75%;
  float: left;
  border-left: 1px solid black;
}

.bars .bar {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  font-size: 12px;
}

.bar .value {
  padding-left: 5px;
}

.bar.metapoints {
  background-color: dodgerblue;
}

.bar.powerLevel {
  background-color: mediumseagreen;
}

.bar.luck {
  background-color: gold;
}

.bar.multiplier {
  background-color: coral;
}

.legend {
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid black;
  text-align: center;
}

.legend .bar {
  margin-right: 5px;
  display: inline-block;
  width: 50px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-radius: 2px;
  border: 1px solid gray;
}
